<%- include('partials/header') %>

<h1 style="text-align: center; font-weight: bold;">This username is already used</h1>

<form action="/alreadyexist" method="POST">
    <h3 style="text-align: center; margin-top: 5rem;">Please choose other email</h3>
    <button style="margin-left: 48%; margin-top: 3rem;" type="submit" class="btn btn-dark" name="signup">Sign Up</button>
</form>

<%- include('partials/footer') %>